body {
    background: beige;
}

.navbar {
    background-color: cadetblue;
    padding: 1.5vw;
}

#puzzle-list {
    border: 3px solid black;
  
}

#new-puzz-form {
    padding: 5%;
    display: none;
}

#game-board {
    display: fixed;
    justify-content: center;
    margin: 2px;
    border: 2px solid black; 
    padding: 5px;
    margin: 2%;
}

#game-board .col-1 {
    display: flex;
    justify-content: center;
    border: 3px solid black; 
    background: white;
    font-size: large;
    align-items: center;
    height: 15vh;
    align-items: center;
}

#game-board h4 {
    font-size: 2rem;
    font-weight: bolder;
}


#game-pieces {
    display: flex;
    padding: 10px;
    margin: 1%;
    justify-content: center;
    align-items: center;
}



#game-pieces div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    background-color: aliceblue;
    
}

#vowel-pieces {
    display: flex;
    padding: 10px;
    margin: 1%;
    justify-content: center;
    align-items: center;
    

}

#vowel-pieces div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    background-color: aliceblue;
    
}

#score-board {
    border: 3px solid black; 
    margin: 1%;
    padding: 2px;
    background: white;
    overflow: wrap;
    
}

#game-wheel-container {
    position: fixed;
    align-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: whitesmoke;
    display: none;
}

#game-wheel-container .arrow-down {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;  
    border-right: 30px solid transparent; 
    border-top: 30px solid rgb(33, 31, 31)
}

#game-wheel {
    width: 500px;
    height: 500px;
}

#result {
    position: fixed;
    top: 2%;
    left: 80%;
}

#menu {
    width: 25vw;
    height: 85vh;
    border: 2px solid black;
    background-color: cornflowerblue;
    position: fixed;
    left: 2%;
    margin-top: 2vh;

}

#classroom-card {
    width: 65vw;
    height: 85vh;
    border: 2px solid black;
    background-color: blueviolet;
    position: fixed;
    right: 2%;
    padding-top: 3px;
    margin-top: 2vh;
    overflow: scroll;
}

#classroom-view {
    margin: 1%;
}

.desk {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.desk:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #165ca2;
}