{% extends "fortune/layout.html" %}
{% load static %}
{% block body %}

<div id="menu" class="card"> <!-- make card list -->
    <h1 class="card-header">{{user.username}}'s classrooms</h1>
    <ul class="list-group list-group-flush">
        {% for class in classes %}
        <li class="list-group-item" data="{{class.}}">{{class}}</li>
        {% endfor %}
    <div id="btn-div">
        <button id="add-room" class="btn btn-primary">Add a class</button>
        <button id="edit-room" class="btn btn-primary">Edit current room</button>
    </div>
</div>

<div id="classroom-card" class="card">
    <div class="card-header">
        <div id="current-room">
            <h2></h2>
        </div>
        <div id="student-count">
            <h2></h2>
        </div>
    </div>
    <div id="classroom-view" class="row">

    </div>
</div>

{% endblock %}

{%block scripts %}
    {{block.super}}
    <script src="{% static 'fortune/seating.js' %}"></script>
{% endblock %}