{% extends "fortune/layout.html" %}
{% load static %}
{% block body %}

<div id="title">
    <br>
        <h1>WHEEL OF SPELLING</h1>
        {% if user.is_authenticated %}
        <div id="puzzle-list">
            <ul>
                {% if puzzles %}
                {% for puzz in puzzles %}
                <li data-puzzle="{{puzz.sentence}}">{{ puzz }}</li>
                {% endfor %}
                {% endif %}
            </ul>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ newPuzz }}
                <input type="submit" value="New Puzzle">
            </form>
        </div>
        {% endif %}
</div>
<div id="game-wheel-container">
    <i class="arrow-down"></i>
    <canvas id="game-wheel"></canvas>
    <h3 id="result">Points</h3>
</div>

<div id="big-div" class="row">
    <div id="score-board" class="col-2">
        <div class="row" id="button-div">
            <button class="col" id="game-toggle"> Start game </button>
            <button class="col" id="new-puzz">Add a puzzle</button>
        </div>
        <form id="new-puzz-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ newPuzz }}
            
            <input type="submit" value="New Puzzle">
        </form>
        <div id="player-board" class="col">
            <h4></h4>
        </div>
    </div>

    <div id="test-div" class="col">
        <div id="game-board" >
            <div id="board-row-1" class="row" data-line1="{{welcome_puzz.line1}}">
                {% for n in grid %}
                    <div id="{{n}}" class="col-1">
                        <h4 style="font: bold 2rem;"></h4>
                    </div>
                {% endfor %}
            </div>
            <div id="board-row-2" class="row" data-line2="{{welcome_puzz.line2}}">
                {% for n in grid %}
                    <div id="{{n}}" class="col-1">
                        <h4 style="font: bold 2rem;"></h4>
                    </div>
                {% endfor %}
            </div>
            <div id="board-row-3" class="row" data-line3="{{welcome_puzz.line3}}">
                {% for n in grid %}
                    <div id="{{n}}" class="col-1">
                        <h4 style="font: bold 2rem;"></h4>
                    </div>
                {% endfor %}
            </div>
            <div id="board-row-4" class="row" data-line4="{{welcome_puzz.line4}}">
                {% for n in grid %}
                    <div id="{{n}}" class="col-1">
                        <h4 style="font: bold 2rem;"></h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div id="game-pieces" class="row">
    {% for n in consenants %}
        <div class="col" data-letter="{{n}}">
            <h4 style="font-size: 2rem;">{{n}}</h4>
        </div>
    {% endfor %}
</div>

<div id="vowel-pieces" class="row">
    <h3>Buy a vowel for 500 points:</h3>
    {% for n in vowels %}
    <div class="col-1" data-vowel="{{n}}">
        <h4>{{n}}</h4>
    </div>
    {% endfor %}
</div>


{% endblock %}